{% extends 'main/header.html' %}
{% load static %}
{% block content %}

    <!--CTA-->
	<div class="cta-banner">
	    <div class="container py-5">
	    	<div class="row">
	        	<div class="col-sm-12 col-md-12 col-lg-6 pb-4">
	          		<h1 class="cta-message display-4 font-weight-bold">Прокачай себя в математике!</h1>
                    <h5>Поступление и дальнейшее обучение в ВУЗе зависит от твоей успешной сдачи ЕГЭ по математике и общих знаний, вместе с MathFun ты сможешь поступить своими силами!</h5>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary mt-2" href="/user">К списку желаний</a>
                    {% else %}
                        <a class="btn btn-primary mt-2" href="/courses">Узнать больше</a>
                    {% endif %}
	        	</div>
	      	</div>
	    </div>
	</div>

    <!--Headlines-->
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 pb-4">
          <h5 class="text-primary">Новые</h5>
          <hr>
          {% for n in new_posts %}
            <a class="text-dark" href="{{ n.article_slug }}">
              <h3>{{ n.article_title }}</h3>
              <p class="text-muted" style="font-size:12px">{{ n.article_published }}</p>
            </a>
            <hr>
          {% endfor %}
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 pb-4">
          <a class="text-dark" href="/{{ most_recent.article_slug }}" style="text-decoration: none">
            <img src="{{ most_recent.article_image.url }}" class="card-img-top" alt="{{most_recent.article_name }}">
            <div class="card-body">
              <h3 class="card-title">{{ most_recent.article_title }}</h3>
              <p class="card-text text-muted" style="font-size:12px">{{ most_recent.article_published }}</p>
              <p class="card-text">{{ most_recent.article_content|safe|truncatewords:50}}</p>
              <button class="btn btn-primary btn-sm">Читать далее</button>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 pb-4">
          <h5 class="text-primary">Рекомендую</h5>
          <hr>
          {% for f in featured %}
            <a class="text-dark" href="/{{ f.article_slug }}">
              <img src="{{ f.article_image.url }}" class="card-img-top" alt="{{ f.article_name }}">
              <h6>{{ f.article_title }}</h6>
              <p class="text-muted" style="font-size:12px">{{ f.article_published }}</p>
            </a>
            <hr>
          {% endfor %}
        </div>
      </div>
    </div>

        <!--Products-->
    <div class="container py-3">
        <h2>Наши курсы</h2>
        <hr>
        <br>
         <div class="row">
            {% for cour in courses %}
            <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                <div class="card h-100" style="border:none">
                    <img src="{{ cour.course_image.url }}" class="card-img-top" alt="{{ cour.course_name }}" style="width: auto; height: 250px; object-fit: scale-down;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cour.course_name }}</h5>
                        <p class="card-text text-muted" style="font-size:12px">{{ cour.course_type }}</p>
                        <p class="card-text">{{ cour.course_description }}</p>
                        <div class="row">
                            <div class="col-6">
                                {% if user.is_authenticated %}
						  			<form method="post">
									{% csrf_token %}
										<input type="hidden" value="{{cour.pk}}" name="cour_pk">
										<button type="submit" class="btn btn-outline-primary" style="font-size:18px; border-radius: 50%">Добавить в список</button>
						  			</form>
						  		{% else %}
									<a href="/register" class="btn btn-outline-primary" style="font-size:18px; border-radius: 50%">Добавить в список</a>
						  		{% endif %}
                            </div>
                            <div class="col-6">
								<a href="{{ cour.affiliate_url }}" class="btn btn-warning">Купить</a>
                            </div>
							</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="container text-right">
                <a href="/courses">Посмотреть все</a>
            </div>
        </div>
    </div>

  	<style>
	    .cta-banner {
	      	background-image: linear-gradient( to left, rgba(0,0,0,0) 10%, #fff 85%),  url("{% static "home/img/homepage_cta.jpg" %}");
	      	/* Set a specific height */
	     	height:400px;
	      	/* Create the parallax scrolling effect */
	      	background-attachment: fixed;
	      	background-position: center bottom;
	      	background-repeat: no-repeat;
	      	background-size: cover;
	      	z-index: auto;
	      	position: relative;
	    }

	    @media only screen and (max-width:600px) {
			.cta-message {font-size:50px !important;}
		}
  	</style>

{% endblock %}