<!--Footer-->
{% load static %}
    <footer id = 'contact'>
        <div class="container-fluid bg-dark text-light mt-5 pt-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h6>Связаться с нами</h6>
                        <p class="font-weight-light">Tabashnikov.alex@gmail.com</p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h6>Социальные сети</h6>
                        <p class="font-weight-light">
                            <a href="https://vk.com/csm_chikaaa"><img src="{% static 'home/img/facebook.png' %}" alt="VK" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"></a>
                            <a href="https://www.instagram.com/math_punk/"><img src="{% static 'home/img/instagram.png' %}" alt="Instagram" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"></a>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h5>
                            <img src="{% static 'home/img/logo.png' %}" width="30" height="30" alt="logo">
                            MathFun
                        </h5>
                        <p style="font-size: 12px">We are proud to provide quality content and product information to our users. There are links on this site that can be defined as “affiliate links”. Encore receives a small commission (at no cost to you) if you purchase something through these links. Encore is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed for sites to earn advertising fees by advertising and linking to amazon.com.  Feel free to reach out to us if you have any questions.</p>
                    </div>
                </div>
            </div>
            <div class="container text-center py-3">
                <p style="font-size:12px">Copyright © 2021 Все права защищены.</p>
            </div>
        </div>
    </footer>